<div id="color">
  <h1>Briardy</h1>
  <p class="credits">napisala Ivy Duckett</p>
  <p class="intro"><a class="breed" href="http://www.google.pl">Briard</a>
  ,inaczej owczarek francuski briard, jest duzym psem pasterskim tradycyjnie uzywanym do wypasania...</p>

</div>